<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <form class="formGroup">
                <div class="email-input-container">
                    <div class="reset-header">
                        <div class="header-wrap">
                            <p>Please create a new password</p>
                        </div>
                    </div>
                    <div class="email-input">
                      <div class="email-input-header">
                          <div class="email-input-input">
                              <input class="password" type="password" [formControl]="password" required>
                              <span>
                                  <label>
                                      <span>New Password</span>
                                  </label>
                              </span>
                          </div>
                          <div class = "email-input-icon">
                            <mat-icon>vpn_key</mat-icon>
                          </div>
                      </div>
                      <div class="email-input-footer">
                        <span></span>
                      </div>
                      <div>
                        <div>
                          <div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="email-input">
                        <div class="email-input-header">
                            <div class="email-input-input">
                                <input class="password" type="password" [formControl]="confirmPassword" required>
                                <span>
                                    <label>
                                        <span>Confirm Password</span>
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="email-input-footer">
                          <span></span>
                        </div>
                        <div>
                          <div>
                            <div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <div class="btn-wrapper">
                        <button class="submitBtn" type="submit" (click)="submit()">
                            <span>Reset Password</span>
                        </button>
                    </div>
                  </div>
            </form>
        </div>
        <div class="col-1"></div>
    </div>
</div>