

.mainLeaderboard{
    width:100%;
    font-weight: 500;
}
.mainLeaderboardLogo{
    background-color:var(--accent);
    color: ghostwhite;
    padding: 15px 0px 15px 0px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    font-size: 24px;
    text-shadow: 2px 1px #090909;
}

.mainLeaderboardRow{
    /* text-shadow: 1px 1px rgb(158, 15, 44); */
    font-size: 18px;
    padding: 10px 0px 10px 30px;
    border-top: 1px solid darkslategrey;
}

.main-leaderboard-row-container{
    border-radius: 0 0 10px 10px;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-color: darkslategrey;
}